:root
{
    --normal: #828282;
    --normal-hover : #333333;
    --normal-focus : #2962FF;
    --error: #D32F2F;
    --error-hover : #333333;
    --error-focus : #D32F2F;
    --disabled : #E0E0E0;
    --disabled-bg : #F2F2F2;
    --borrad : 8px;
}
.container,.container-error
{
    display: flex;
    flex-direction: column-reverse;
    gap: -2rem;
}
.container:focus
{
    color: var(--normal-focus);
}
.container-error
{
    color: var(--error);
}
.input
{
    width: 60%;
    padding: 12px 20px;
    margin: 0 0 0 0;
    display: inline-block;
    border: 1px solid var(--normal);
    border-radius: var(--borrad);
    box-sizing: border-box;
}
.input-special
{
    width: 60%;
    padding: 12px 20px;
    margin: 0 0 0 0;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.input:hover,.input-hover
{
    border: 1px solid var(--normal-hover);
}
.input:focus, .input-focus
{
    border: 1px solid var(--normal-focus);
    outline: none;
}
.input:hover + label,.input-focus + label
{
    color: #000;
    display: flex;
    justify-content: flex-start;
}
.input:focus + label,.input-focus + label
{
    color: var(--normal-focus);
}
.input-error
{
    width: 60%;
    padding: 12px 20px;
    margin: 0 0 0 0;
    display: inline-block;
    border: 1px solid var(--error);
    border-radius: var(--borrad);
    box-sizing: border-box;
}
.input-error:hover,.input-error-hover
{
    border: 1px solid var(--error-hover);
}
.input-error:focus, .input-error-focus,.input-error-hover:focus,.input-error-focus:focus
{
    border: 1px solid var(--error-focus);
    outline: none;
}
.input-error-hover:focus + label, .input-error-focus:focus + label
{
    color: var(--error-focus);
}
.input-error:hover + label,.input-error-focus + label
{
    color: #000;
}
.input-error:focus + label,.input-error-focus + label
{
    color: var(--error-focus);
}
.input-disabled,.input-disabled:hover,.input-disabled:focus
{
    background-color: var(--disabled-bg);
    border: 1px solid var(--disabled);
}
.text-error
{
    color: var(--error);
}
.input-sm
{
    width: 60%;
    padding: 6px 10px;
    margin: 0 0 10px 0;
    display: inline-block;
    border: 1px solid var(--normal);
    border-radius: var(--borrad);
    box-sizing: border-box;
}
.input-100
{
    width: 100%;
}
label
{
    font-size: 12px;
    color: #333333;
}
.input-container
{
    border: 1px solid var(--normal);
    border-radius: var(--borrad);
    display: flex;
    justify-content: flex-start;
}